body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.tex {
    max-width: 60%;
}

h2, h3 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}

img.img {
    float: right; /* Make the image float to the right */
    margin: 0 0 20px 20px; /* Adjust the margin for spacing */
}

/* Optional: Add some styling to links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
